body {
  background-color: #2a472a;
  background-image: linear-gradient(
    180deg,
    rgba(42, 71, 42, 1) 10%,
    rgba(2, 2, 2, 0.8) 47%
  );

  background-attachment: scroll;

  font-family: "Montserrat", sans-serif;
}
aside {
  flex: 0 0 250px;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.7);
}

main {
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  flex-grow: 1;

  scroll-behavior: smooth;
}
section {
  min-height: 70vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #999999;
  letter-spacing: 1px;
  font-weight: 700;
}
/* Side navbar */
.side-navbar {
  height: inherit;
}
.side-navbar > div:first-child {
  padding-left: 15px;
}
.side-navbar .nav-logo {
  padding-top: 25px;
  width: 180px;
}

.side-navbar .active {
  color: white;
}
.side-navbar ul {
  margin: 0;
  margin-top: 20px;
  margin-left: 5px;
  padding: 0;
}
.side-navbar li {
  list-style: none;
  margin: 15px 0;
}

aside svg {
  margin-right: 1em;
}
aside .btn {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 200px;
}
aside .btn:nth-of-type(2) {
  border: 2px solid #888988;
  background-color: #151719;
  color: #c2c3c3;
}
aside nav p {
  font-size: 12px;
  color: gray;
}
aside nav p:first-of-type {
  margin-right: 10px;
}
aside nav p:nth-of-type(2) {
  margin-left: 10px;
}
aside nav .line-between {
  border-right: 2px solid gray;
  height: 15px;
  width: 2px;
}
/* main */

main nav {
  position: fixed;
  top: 0;
  /* right: 25px; */
  left: 250px;
  width: calc(100vw - 250px);

  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 60px;
  height: 60px;
}
main h1 {
  color: #ffffff;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 25px;
}
main h1 ~ p {
  margin-bottom: 8px;
  font-size: 1em;
}
main p,
th,
td {
  color: #9b9c9b;
  font-weight: bold;
}
main h6 {
  color: white;
  font-weight: 600;
}
main .fa-circle {
  color: white;
  font-size: 6px;
}
main nav button.btn {
  border-radius: 50%;
  border-color: transparent;

  background-color: rgba(0, 0, 0);
  margin-right: 1em;
}
main nav .dropdown-toggle {
  background-color: black !important;
}
main nav .dropdown-menu {
  background-color: #282828;
  color: white;
}
main nav .dropdown-menu a {
  color: white;
}
main nav .dropdown-menu a:hover {
  color: #282828;
}
main button i {
  color: whitesmoke;
}
thead {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
table td > div > div {
  margin-right: 15px;
  height: 60px;
}
table td > div > div img {
  height: inherit;
}
table > thead > tr > th:nth-child(5) > i {
  padding-left: 4em;
}
table tr td:nth-child(5) {
  padding-left: 4.5em;
}

tr:hover {
  background-color: #212521;
}
main img:first-of-type {
  margin-right: 20px;
}

main .fa-heart {
  font-size: 2em;
  margin-right: 1em;
  color: #b3b8b2;
}
#playBtn {
  font-size: 4em;
  color: #1cb955;
  background-color: white;
  border-radius: 50%;
  margin-right: 0.7em;
}
#playBtn:hover {
  transform: scale(1.2);
}
main svg {
  color: #b3b8b2;
}
main svg:hover {
  color: white;
}
/* Footer */
footer {
  background-color: #2c2c2c;
}
footer > div {
  height: 5vh;
}
footer svg {
  margin-right: 1.5em;
}
footer i {
  margin-right: 1.2em;
}
footer #btn-play {
  background-color: transparent;
  border: none;
}
footer #getIcon {
  color: #b2b2b1;
  background-color: #2c2c2c;
  font-size: 24px;
}
.center-bar {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
/* .center-bar::before{
    content: "0.50";
  }
  .center-bar::after{
  content: "5.29";
  } */
.text {
  color: gray;
  margin-left: 400px;
  font-size: 10px;
  padding-top: 3px;
}
.text2 {
  color: gray;
  margin-left: 268px;
  font-size: 10px;
  padding-top: 3px;
}
.music-bar {
  padding-right: 800px;
}
.music-progress {
  width: 500px;
  margin: 10px;
}
.music-progress .progress {
  height: 2px;
  border-radius: 0;
  background-color: gray;
  margin-top: 0px;
}
.music-progress .music-progress::before {
  content: "0.50";
}

.music-progress .progress-bar {
  width: 0%;
  background-color: black;
  animation: width 100s infinite;
}
@keyframes width {
  100% {
    width: 100%;
  }
}
.song-title strong {
  color: white;
  font-size: 15px;
}
.song-title {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
  padding: 10px;
}
.icon-left {
  color: gray;
  font-size: 12px;
  margin-top: 40px;
  margin-right: 300px;
}
.icon-left:hover {
  color: white;
}
.volume {
  font-size: 10px;
}
#myRanger {
  height: 2px;
  border-radius: 0;
  background-color: black;
  margin-top: 0px;
}
.icon-right {
  color: gray;
  font-size: 10px;
  margin-left: 140px;
  padding: 10px;
}
.icon-right:hover {
  color: white;
}
.image-play {
  margin-left: 8px;
  padding-right: 8px;
}
/*
  ##############################
  End of album page
  ##############################
  */
